.nav-container {
  background-color: #272727;
  background-size: cover;
  padding: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  position: sticky;
}
.logo {
  width: 45%;
  height: 30%;
}
.link {
  text-decoration: none;
}
.home-icon {
  color: #ffffff;
  width: 20px;
  height: 20px;
}
.jobs-icon {
  color: #ffffff;
  width: 20px;
  height: 20px;
}
.logout-icon {
  color: #ffffff;
  width: 20px;
  height: 20px;
  cursor: pointer;
}
.logo-container {
  margin-left: 10px;
  margin-right: auto;
}
.nav-item {
  list-style: none;
  color: #ffffff;
  font-size: 18px;
  padding-left: 20px;
}
.sm-nav-items-container,
.lg-nav-items-container {
  display: flex;
  width: 70%;
  margin-right: 10px;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .sm-nav-items-container {
    display: none;
  }
}
@media screen and (max-width: 767px) {
  .lg-nav-items-container {
    display: none;
  }
  .sm-nav-items-container {
    justify-content: flex-end;
  }
}
.logout-btn {
  color: #ffffff;
  background-color: #4f46e5;
  border-radius: 5px;
  padding: 5px;
  margin-right: 10px;
  margin-top: 10px;
  font-weight: 400;
  border: none;
  font-size: 13px;
  width: 100px;
  height: 40px;
  cursor: pointer;
}
.nav-btn {
  margin-left: auto;
}

/*@media screen and (min-width: 768px) {
  .home-icon {
    display: none;
  }
  .home-jobs-btn {
    display: none;
  }
}
@media screen and (max-width: 767px) {
  .nav-text {
    display: none;
  }
  .btn-logout {
    display: none;
  }
  .logo {
    width: 100%;
    height: 100%;
  }
  .logo-container {
    width: 20%;
  }
  .home-jobs-container {
    width: 40%;
  }
  .home-jobs-btn {
    color: #ffffff;
    background-color: #4f46e5;
    border-radius: 5px;
    width: 120%;
    height: 100%;
    font-weight: bold;
    cursor: pointer;
    padding: 5px;
  }
}*/
